* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 80px; 
}

/*header*/
header {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .login {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav .login a {
    text-decoration: none;
    color: #000;
}

nav .login ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .login ul li {
    margin: 0px 10px;
}

nav .login ul li a {
    padding: 8px 16px;
    color: #000;
    font-size: 19px;
    transition: background-color 0.3s ease;
}

nav .login ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

nav .login img {
    height: 50px;
}

nav .login button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .login button img {
    height: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 100px; /* pentru a compensa headerul fix */
}

form {
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* crește dimensiunea formularului */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%; /* ajustează dimensiunea butonului */
    padding: 10px;
    background-color: #3d3d84;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

form button:hover {
    background-color: #2a2a63;
}

/* Footer */
footer {
    background-color: #2a2a72;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul button {
    background: none;
    border: none;
    height: 30px;
    margin-left: 10px;
}

footer ul button img {
    height: 40px;
}